*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;\
}
h1{
    font-size: xx-large;
    color: red;
}
.haj img{
    width: 300px;
    height: 300px;
}
.haj2 img{
    width: 300px;
    height: 300px;
}
p{
    background-color: yellow;
    color: red;
    font-weight: 900;
    font-style: italic;
}